
//colors
$yellow : #D4905C;
$light-yellow:#FAF5F0;

$brown: #c57c43;

$gray : #646466;
$light-gray:#EBEBEB;

$error : #CC3155;

$border-color:#d8d8d8;
$border-color-light:#E6E6EB;
$background-gray:#f5f5fa;
$--color-primary: #8d95e0;

